body{
    background-color: lightcyan;
    padding: 10px;
    margin: 10px;
}
.skills{
   border: 1px solid gray;
   width: 100%;
}
#html{
    width: 60%;
    background-color: lightblue;
    text-align: right;
}
#css{
    width: 45%;
    background-color: lightblue;
    text-align: right;
}
#js{
    width: 30%;
    background-color: lightblue;
    text-align: right;
}
#react{
    width: 30%;
    background-color: lightblue;
    text-align: right;
}
#design{
    width: 30%;
    background-color: lightblue;
    text-align: right;
}
#git{
    width: 20%;
    background-color: lightblue;
    text-align: right;
}
img{
    border: 5px groove white;
    border-radius: 50%;
}
h1{
    text-decoration: underline;
}
p{
    font-size: larger;
}
a:hover{
    color: gray;
}
.border{
    height: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: skyblue;
    border: 2px dotted black;
}